:root {
  font-family: 'Comic Sans MS', 'Chalkboard SE', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  --bg-color: #f0f4f8;
  --toolbar-bg: #ffe4e1;
  --btn-shadow: 0 4px 6px rgba(0,0,0,0.1);
  --btn-active-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-color);
}

#root {
    width: 100%;
    height: 100%;
}
